## Deliverable 2. Create a Customer Travel Destinations Map.

In [60]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [61]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ponta Do Sol,PT,32.6667,-17.1000,73.00,72,50,12.41,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,37.02,75,0,4.61,clear sky
2,2,Hailar,CN,49.2000,119.7000,56.75,59,100,15.77,overcast clouds
3,3,Stuttgart,DE,48.7823,9.1770,75.96,52,20,3.44,few clouds
4,4,New Norfolk,AU,-42.7826,147.0587,40.91,82,100,2.71,overcast clouds

In [62]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [76]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ponta Do Sol,PT,32.6667,-17.1000,73.00,72,50,12.41,scattered clouds
3,3,Stuttgart,DE,48.7823,9.1770,75.96,52,20,3.44,few clouds
5,5,San Jose,US,37.3394,-121.8950,73.53,63,75,8.05,broken clouds
9,9,Meulaboh,ID,4.1363,96.1285,75.74,89,100,4.54,moderate rain
13,13,Saint-Philippe,RE,-21.3585,55.7679,72.99,73,21,3.60,few clouds
16,16,Vaini,TO,-21.2000,-175.2000,75.36,94,20,5.75,few clouds
17,17,Abong Mbang,CM,3.9833,13.1833,76.30,75,100,4.70,light rain
20,20,Butaritari,KI,3.0707,172.7902,81.18,70,66,4.21,broken clouds
25,25,Pasni,PK,25.2631,63.4710,83.12,79,1,19.55,clear sky
27,27,Lompoc,US,34.6391,-120.4579,70.84,81,0,0.00,clear sky

In [77]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                318
City                   318
Country                316
Lat                    318
Lng                    318
Max Temp               318
Humidity               318
Cloudiness             318
Wind Speed             318
Current Description    318
dtype: int64

In [78]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                316
City                   316
Country                316
Lat                    316
Lng                    316
Max Temp               316
Humidity               316
Cloudiness             316
Wind Speed             316
Current Description    316
dtype: int64

In [79]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ponta Do Sol,PT,73.00,scattered clouds,32.6667,-17.1000,
3,Stuttgart,DE,75.96,few clouds,48.7823,9.1770,
5,San Jose,US,73.53,broken clouds,37.3394,-121.8950,
9,Meulaboh,ID,75.74,moderate rain,4.1363,96.1285,
13,Saint-Philippe,RE,72.99,few clouds,-21.3585,55.7679,
16,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,
17,Abong Mbang,CM,76.30,light rain,3.9833,13.1833,
20,Butaritari,KI,81.18,broken clouds,3.0707,172.7902,
25,Pasni,PK,83.12,clear sky,25.2631,63.4710,
27,Lompoc,US,70.84,clear sky,34.6391,-120.4579,

In [83]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [84]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ponta Do Sol,PT,73.00,scattered clouds,32.6667,-17.1000,Hotel do Campo
3,Stuttgart,DE,75.96,few clouds,48.7823,9.1770,Hotel Unger
5,San Jose,US,73.53,broken clouds,37.3394,-121.8950,The Westin San Jose
9,Meulaboh,ID,75.74,moderate rain,4.1363,96.1285,Kost Pria
13,Saint-Philippe,RE,72.99,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
681,Velyka Lepetykha,UA,80.98,scattered clouds,47.1757,33.9436,беседка для отдыха Островка
683,Samarai,PG,80.33,overcast clouds,-10.6167,150.6667,Nuli Sapi
684,Sao Jose Da Coroa Grande,BR,81.77,overcast clouds,-8.8978,-35.1478,Crôa Mares Hotel
686,Muborak,UZ,88.47,clear sky,39.2553,65.1528,Muborak temiryoʻl vakzali
693,Muscatine,US,71.76,clear sky,41.4667,-91.1335,Bed Bekfast

In [85]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [88]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [89]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))